#### The webscrapping.ipynb can only scrap one language movies at once. So I am combining them from here

In [6]:
import os
import pandas as pd

# Get the list of CSV files in the current directory
csv_files = [file for file in os.listdir() if file.endswith('.csv')]
csv_files

['Hindi_movies.csv',
 'Kannada_movies.csv',
 'Malyalam_movies.csv',
 'Tamil_movies.csv',
 'Telgu_movies.csv']

In [2]:
file=csv_files[0]
file.split('_')[0]

'Hindi'

In [7]:
# Initialize an empty list to store DataFrames
dfs = []

# Read each CSV file, add a 'Filename' column, and append to the list
for file in csv_files:
    df = pd.read_csv(file)
#     df['Filename'] = file.split('_')[0]  # Add a column with the filename
    dfs.append(df)

# Concatenate the list of DataFrames into a single DataFrame
combined_df = pd.concat(dfs, ignore_index=True)

In [8]:
combined_df

,Name,Year,Duration,Rating,Votes,Description,language
0,Sam Bahadur,2023,2h 30m,8.2,8.9K,Revolves around the high and low points of Sam...,Hindi
1,Animal,2023,3h 24m,6.8,64K,"A father, who is often away due to work, is un...",Hindi
2,Starfish,2023,2h 1m,8.9,16K,Beautiful journey through the depths of the un...,Hindi
3,Farrey,2023,2h 10m,8.7,5.8K,After gaining admission into an elite school o...,Hindi
4,Kadak Singh,2023,2h 8m,6.8,5.1K,AK Srivastava an officer of the Department of ...,Hindi
...,...,...,...,...,...,...,...
9175,Premaabhishekam,1981,2h 35m,7.8,122,Rajesh loves Devi but discovers that he has ca...,Telgu
9176,Sardar Papa Rayudu,1980,2h 31m,6.8,138,Paparayudu gets jailed for a murder that he di...,Telgu
9177,Superman,1980,2h 15m,4.4,217,An orphaned boy is granted superpowers after p...,Telgu
9178,Punnami Naagu,1980,2h 10m,7.4,103,Naagulu is forced to consume poison since chil...,Telgu
9179,Sankarabharanam,1980,2h 23m,8.9,2.5K,The story of a rare and exceptional bond betwe...,Telgu

In [9]:
combined_df.to_csv('Indian_movie_Dataset.csv', index=False)