#### In this notebook I have done:
    # Data preprocessing
    # Feature engineering
    # Building a movie recommendation system using BoW and TF-IDF.

In [1]:
import pandas as pd
df2=pd.read_csv('Data/TMDB/tmdb_5000_credits.csv')

In [2]:
df2

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...
4798,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

#### Converting the 'CAST' and 'CREW' column from json string to list

In [3]:
#shortcut
# df2['cast'] = df2['cast'].apply(lambda x: [item['name'] for item in json.loads(x)][:5] if pd.notna(x) else [])

import json
tempcast=[]
for i in range(len(df2)):
#     print(i)
    x=df2.loc[i]['cast']
    x_list=json.loads(x)
    top5cast=[]
    for j in range(5):
        if j>=len(x_list):
            break
        top5cast.append(x_list[j]['name'])
    tempcast.append(top5cast)
df2['moddified_cast']=tempcast

In [4]:
director_list=[]
for i in range(len(df2)):
#     print(i)
    x=df2.loc[i]['crew']
    x_list=json.loads(x)
    director='none'
    for d in x_list:
        if d['job']=='Director':
            director=d['name']
            break
    director_list.append(director)
df2['Director']=director_list

In [5]:
df2=df2.drop(['cast','crew'],axis=1)
df2=df2.rename(columns={'moddified_cast':'cast'})
df2=df2.rename(columns={'movie_id':'id'})

In [6]:
df2

,id,title,cast,Director
0,19995,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",James Cameron
1,285,Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...",Gore Verbinski
2,206647,Spectre,"[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",Sam Mendes
3,49026,The Dark Knight Rises,"[Christian Bale, Michael Caine, Gary Oldman, A...",Christopher Nolan
4,49529,John Carter,"[Taylor Kitsch, Lynn Collins, Samantha Morton,...",Andrew Stanton
...,...,...,...,...
4798,9367,El Mariachi,"[Carlos Gallardo, Jaime de Hoyos, Peter Marqua...",Robert Rodriguez
4799,72766,Newlyweds,"[Edward Burns, Kerry Bishé, Marsha Dietlein, C...",Edward Burns
4800,231617,"Signed, Sealed, Delivered","[Eric Mabius, Kristin Booth, Crystal Lowe, Geo...",Scott Smith
4801,126186,Shanghai Calling,"[Daniel Henney, Eliza Coupe, Bill Paxton, Alan...",Daniel Hsia
4802,25975,My Date with Drew,"[Drew Barrymore, Brian Herzlinger, Corey Feldm...",Brian Herzlinger

## Modifying df1

In [7]:
import pandas as pd
df1=pd.read_csv('Data/TMDB/tmdb_5000_movies.csv')

In [8]:
df1

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [9]:
df1['budget']=df1['budget']/(1000000)
df1['revenue']=df1['revenue']/(1000000)    #convert to million

In [10]:
df1=df1.drop(['title','homepage','popularity','production_companies','production_countries','original_title','runtime','spoken_languages','status'],axis=1)

#### extracting the genres and keywords from json format

In [11]:
import json
genres=[]
for i in range(len(df1)):
    x=df1.loc[i]['genres']
    x_list=json.loads(x)
    genre=[]
    for d in x_list:
        genre.append(d['name'])
    genres.append(genre)
df1['Genres']=genres
df1=df1.drop(['genres'],axis=1) #removing the json format column

In [12]:
import json
keywords=[]
for i in range(len(df1)):
    x=df1.loc[i]['keywords']
    x_list=json.loads(x)
    kw=[]
    for d in x_list:
        kw.append(d['name'])
    keywords.append(kw)
df1['Keywords']=keywords
df1=df1.drop(['keywords'],axis=1)

# Combining df1 and df2

In [13]:
df = pd.merge(df1, df2, on='id', how='inner')

#### reordering the columns

In [14]:
order=[ 'id','title','original_language','cast','Director','vote_average', 'vote_count',
       'Genres','release_date','overview', 'budget','revenue','tagline', 'Keywords']
df=df[order]

In [ ]:
# Store the original dataframe 
df_copy=df.copy()

In [26]:
# To export a excel sheet to a sql database
# from sqlalchemy import create_engine

# engine = create_engine('mysql+mysqlconnector://root:password@127.0.0.1/movies')

# df.to_sql('movie_data4', con=engine, index=False, if_exists='replace')

3959

In [ ]:
df

In [15]:
# for now I am not combining it
df['cast'] = df['cast'].apply(lambda x: ' '.join([name.replace(' ', ' ') for name in x]))  
df['Director'] = df['Director'].apply(lambda x: x.replace(' ',' '))

#### Converting 'Genres'  and 'Keywords' from list format to string

In [16]:
df['Genres'] = df['Genres'].apply(lambda x: ' '.join([g for g in x]))  
df['Keywords'] = df['Keywords'].apply(lambda x: ' '.join([k for k in x]))

In [17]:
df

,id,title,original_language,cast,Director,vote_average,vote_count,Genres,release_date,overview,budget,revenue,tagline,Keywords
0,19995,Avatar,en,Sam Worthington Zoe Saldana Sigourney Weaver S...,James Cameron,7.2,11800,Action Adventure Fantasy Science Fiction,2009-12-10,"In the 22nd century, a paraplegic Marine is di...",237.000,2787.965087,Enter the World of Pandora.,culture clash future space war space colony so...
1,285,Pirates of the Caribbean: At World's End,en,Johnny Depp Orlando Bloom Keira Knightley Stel...,Gore Verbinski,6.9,4500,Adventure Fantasy Action,2007-05-19,"Captain Barbossa, long believed to be dead, ha...",300.000,961.000000,"At the end of the world, the adventure begins.",ocean drug abuse exotic island east india trad...
2,206647,Spectre,en,Daniel Craig Christoph Waltz Léa Seydoux Ralph...,Sam Mendes,6.3,4466,Action Adventure Crime,2015-10-26,A cryptic message from Bond’s past sends him o...,245.000,880.674609,A Plan No One Escapes,spy based on novel secret agent sequel mi6 bri...
3,49026,The Dark Knight Rises,en,Christian Bale Michael Caine Gary Oldman Anne ...,Christopher Nolan,7.6,9106,Action Crime Drama Thriller,2012-07-16,Following the death of District Attorney Harve...,250.000,1084.939099,The Legend Ends,dc comics crime fighter terrorist secret ident...
4,49529,John Carter,en,Taylor Kitsch Lynn Collins Samantha Morton Wil...,Andrew Stanton,6.1,2124,Action Adventure Science Fiction,2012-03-07,"John Carter is a war-weary, former military ca...",260.000,284.139100,"Lost in our world, found in another.",based on novel mars medallion space travel pri...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,9367,El Mariachi,es,Carlos Gallardo Jaime de Hoyos Peter Marquardt...,Robert Rodriguez,6.6,238,Action Crime Thriller,1992-09-04,El Mariachi just wants to play his guitar and ...,0.220,2.040920,"He didn't come looking for trouble, but troubl...",united states–mexico barrier legs arms paper k...
4799,72766,Newlyweds,en,Edward Burns Kerry Bishé Marsha Dietlein Caitl...,Edward Burns,5.9,5,Comedy Romance,2011-12-26,A newlywed couple's honeymoon is upended by th...,0.009,0.000000,A newlywed couple's honeymoon is upended by th...,
4800,231617,"Signed, Sealed, Delivered",en,Eric Mabius Kristin Booth Crystal Lowe Geoff G...,Scott Smith,7.0,6,Comedy Drama Romance TV Movie,2013-10-13,"""Signed, Sealed, Delivered"" introduces a dedic...",0.000,0.000000,NaN,date love at first sight narration investigati...
4801,126186,Shanghai Calling,en,Daniel Henney Eliza Coupe Bill Paxton Alan Ruc...,Daniel Hsia,5.7,7,,2012-05-03,When ambitious New York attorney Sam is sent t...,0.000,0.000000,A New Yorker in Shanghai,
4802,25975,My Date with Drew,en,Drew Barrymore Brian Herzlinger Corey Feldman ...,Brian Herzlinger,6.3,16,Documentary,2005-08-05,Ever since the second grade when he first saw ...,0.000,0.000000,NaN,obsession camcorder crush dream girl

#### For recommendation system, we will use only id, title, sentiment                                                         (cast+director+overview+keywords+tagline+genres....and other string columns)

In [18]:
df['sentiment']=df['title']+' '+  df['cast']+' '+df['Director']+' '+df['Keywords']+' '+df['Genres']+' '+df['tagline']+' '+df['overview']

In [19]:
df=df[['id','title','sentiment']]

In [20]:
df

,id,title,sentiment
0,19995,Avatar,Avatar Sam Worthington Zoe Saldana Sigourney W...
1,285,Pirates of the Caribbean: At World's End,Pirates of the Caribbean: At World's End Johnn...
2,206647,Spectre,Spectre Daniel Craig Christoph Waltz Léa Seydo...
3,49026,The Dark Knight Rises,The Dark Knight Rises Christian Bale Michael C...
4,49529,John Carter,John Carter Taylor Kitsch Lynn Collins Samanth...
...,...,...,...
4798,9367,El Mariachi,El Mariachi Carlos Gallardo Jaime de Hoyos Pet...
4799,72766,Newlyweds,Newlyweds Edward Burns Kerry Bishé Marsha Diet...
4800,231617,"Signed, Sealed, Delivered",NaN
4801,126186,Shanghai Calling,Shanghai Calling Daniel Henney Eliza Coupe Bil...
4802,25975,My Date with Drew,NaN

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         4803 non-null   int64
 1   title      4803 non-null   object
 2   sentiment  3959 non-null   object
dtypes: int64(1), object(2)
memory usage: 150.1+ KB

#### Drop null values

In [22]:
df=df.dropna(subset=['sentiment'])

In [23]:
df=df.reset_index(drop=True)

In [24]:
df['RowNumber'] = df.reset_index().index

In [25]:
df

,id,title,sentiment,RowNumber
0,19995,Avatar,Avatar Sam Worthington Zoe Saldana Sigourney W...,0
1,285,Pirates of the Caribbean: At World's End,Pirates of the Caribbean: At World's End Johnn...,1
2,206647,Spectre,Spectre Daniel Craig Christoph Waltz Léa Seydo...,2
3,49026,The Dark Knight Rises,The Dark Knight Rises Christian Bale Michael C...,3
4,49529,John Carter,John Carter Taylor Kitsch Lynn Collins Samanth...,4
...,...,...,...,...
3954,124606,Bang,Bang Darling Narita Peter Greene Michael Newla...,3954
3955,14337,Primer,Primer Shane Carruth David Sullivan Casey Good...,3955
3956,9367,El Mariachi,El Mariachi Carlos Gallardo Jaime de Hoyos Pet...,3956
3957,72766,Newlyweds,Newlyweds Edward Burns Kerry Bishé Marsha Diet...,3957
3958,126186,Shanghai Calling,Shanghai Calling Daniel Henney Eliza Coupe Bil...,3958

### simple bagofwords method

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')
vector = cv.fit_transform(df['sentiment']).toarray()
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)
def recommend(movie):
    index = df[df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(df.iloc[i[0]].title)

recommend('The Dark Knight')

#### It only works for a movie input, but not able to recommend by a keyword

### Training tf-idf model

In [ ]:
import pandas as pd
import gensim
from gensim import corpora, models, similarities
from pprint import pprint

# # Tokenize the documents
# tokenized_docs = [doc.split() for doc in df['sentiment']]

tokenized_docs = df.sentiment.apply(gensim.utils.simple_preprocess)

# Create a dictionary from the tokenized documents
dictionary = corpora.Dictionary(tokenized_docs)

# Create a bag-of-words representation of the corpus
corpus_bow = [dictionary.doc2bow(doc) for doc in tokenized_docs]

# Create a TF-IDF model
tfidf = models.TfidfModel(corpus_bow)

# Transform the corpus to TF-IDF space
corpus_tfidf = tfidf[corpus_bow]

# Create an index for the documents
index = similarities.MatrixSimilarity(corpus_tfidf)

In [ ]:
# Run this to export models for making app.py
# import pickle
# # Save the dictionary
# with open('dictionary.pkl', 'wb') as f:
#     pickle.dump(dictionary, f)

# # Save the TF-IDF model
# with open('tfidf.pkl', 'wb') as f:
#     pickle.dump(tfidf, f)

# # Save the similarity index
# with open('index.pkl', 'wb') as f:
#     pickle.dump(index, f)

In [ ]:
type(tokenized_docs),len(tokenized_docs),tokenized_docs[0]

In [ ]:
## All the tokens(words) in the tokenised_docs are given a unique id 
for k in dictionary:
    print(k,dictionary[k])
len(dictionary)

In [ ]:
print(len(corpus_bow))
for i in corpus_bow:
    print(len(i))

In [ ]:
len(corpus_bow),len(corpus_tfidf)

In [ ]:
#see how the bag of words in converted to tf-idf
for i in range(len(corpus_tfidf[0])):
    print(corpus_bow[0][i],corpus_tfidf[0][i])

In [ ]:
# Either give the query by a movie's sentiment
movie='The Dark Knight'
query=df[df.title==movie].sentiment.values[0]

# Or give the query by a movie name
query='dark knight'

# or by any other keyword
query= 'superhero trying to save gowtham city from joker'

In [ ]:
# Tokenize and convert the query to TF-IDF space
query=gensim.utils.simple_preprocess(query)
query_bow = dictionary.doc2bow(query)
query_tfidf = tfidf[query_bow]

# Get the similarity scores between the query and the documents in the corpus
sims = index[query_tfidf]

# Sort the similarities in descending order
sims = sorted(enumerate(sims), key=lambda x: -x[1])

In [ ]:
for i in sims[:20]:
    print(df.loc[i[0]]['title'])